entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
deploymentTarget = "static"
publicDir = "templates"
run = ["sh", "-c", "python main.py"]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run Flask"

[[workflows.workflow]]
name = "Run"
author = 40020255

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Flask"
author = 40020255

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
